<div class="activity">
	<h1 class="title">Title: {{title}}</h1>
	<h3>Creator: {{creator}}</h3>
	<p>Date: {{date}}</p>
	<p>Location: {{location}}</p>
	<p>Description: {{description}}</p>
	<button class="delete">Delete</button>
	<button class="edit">Edit</button>
	<button class="attend">Attend!</button>

</div>