<div id="activity-container" class="col-xs-7 col-xs-offset-1">
<%= form_for @activity do |f| %>

<% if @activity.errors.any? %>
<ul>
	<% @activity.errors.full_messages.each do |err| %>
	<li><%= err %></li>
	<% end %>
	</ul>
<% end %>

	<%= f.hidden_field :creator %>
	<p><%= f.text_field :title, :placeholder => "title" %></p>
	<p><div class="dp1"><%= f.text_field :date, :placeholder => "date", :data => {:provide => 'datepicker'} %></div></p>
	<p><%= f.text_field :location, :placeholder => "location" %></p>
	<p><%= f.text_field :description, :placeholder => "description" %></p>
	
<%= f.submit "Sumbit", :class => "button" %>
<% end %>
	</div>