

	<% @activities.select{|s| s.date >= Date.current}.each do |activity| %>
	<div class="col-lg-5 col-md-offset-3 white-back">
	<h1><%= activity.title %></h1>
	<p>Creator: <%= activity.creator %></p>
	<p>Date: <%= activity.date %> </p>
	<p>Users Attending the Activity (<%= activity.activity_registrations.count %>)</p>
	<% if current_user %>
	<p><%= link_to "Show Details", activity_path(activity)%></p>
	<% else %>
	<p><%= link_to "Show Details", new_user_registration_path %></p>
	<% end %>
		</div>
	<% end %>



	 