<div id="activity-container" class="col-xs-7 col-xs-offset-1">
	<% @activities.select{|s| s.date >= Date.current}.each do |activity| %>
	<h1><%= activity.title %></h1>
	<p>Creator: <%= activity.creator %></p>
	<p>Date: <%= activity.date %> </p>
	<p>Users Attending the Activity (<%= activity.activity_registrations.count %>)</p>
	<p><%= link_to "Show Details", activity_path(activity)%></p>
	<% end %>
	</div>

	 