<!DOCTYPE html>
<html>
<head>
  <title>GetOutAndPlay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Get Out and Play</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-left pull-left">






          <% if current_user %>
          <a class="space"></a>
          <button type="button" class="btn  navbar-btn btn-success" href="#newModal" data-toggle="modal" data-no-turbolink="true">New Activity</button>
          <% else %>
          <a class="space"></a>
          <%= link_to "New Activity", new_user_registration_path, :class => "btn navbar-btn btn-success" %>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>

          <p class="navbar-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  <%= current_user.username %></p>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user %>
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
              <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <% end %>

            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="container-fluid page-container">

    <%= yield %>


  </div>
  <footer class="footer">
    <div class="container">
      <p class="white-foot">&copy; 2015 Preston Straight
        <a class="space"></a>
        <a class="white-foot" href="https://github.com/presto2116">GitHub </a>
        <a class="space"></a>
        <a class="white-foot" href="https://www.linkedin.com/in/prestonstraight">LinkedIn </a>
        <a class="space"></a>
        <a class="white-foot" href="https://www.facebook.com/preston.straight">Facebook </a>
        <a class="space"></a>

        <a class="white-foot" href="https://twitter.com/presto2116">Twitter </a></p>
      </div>
    </footer>
    <%= form_for Activity.new do |f| %>
    <div id="newModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">New Activity</h4>
          </div>
          <div class="modal-body">



            <%= f.hidden_field :creator %>
            <p><%= f.text_field :title, :placeholder => "title" %></p>
            <p><div class="dp1"><%= f.text_field :date, :placeholder => "date", :data => {:provide => 'datepicker'} %></div></p>
            <p><%= f.text_field :location, :placeholder => "location" %></p>
             <p><%= f.text_field :activity_img, :placeholder => "Image URL (not required)", :size => 30 %></p>
            <p><%= f.text_area :description, :placeholder => "description", :rows => 3, :cols => 50 %></p>


          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancel</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            <%= f.submit "Sumbit", :class => "btn btn-default btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </body>
  </html>
